<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    <!-- STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/style.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/prettyPhoto.css")"/>
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' />
    
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- JAVASCRIPT -->
    @Scripts.Render("~/bundles/jquery")
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-1.10.2.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.cycle.all.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.prettyPhoto.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.fancybox-1.3.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/cycle_init.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/custom.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css")" type="text/css" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter23504230 = new Ya.Metrika({ id: 23504230, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/23504230" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>
