@{
    ViewBag.Title = "Самые дешевые стеклянные фартуки в Томске. Кухня фартук. Томск фартуки.";
}
@model fartuk2.Models.Order

<!-- .option_panel -->
<div class="header">
    <div class="logo">
        <img src="@Url.Content("~/Content/img/logo.png")" title="Sentado" alt="logo" />
    </div>
    <!-- .logo -->
    <div class="callout">
        <ul class="social">
            <li class="call">Свяжитесь с нами:&nbsp;&nbsp;<span>(3822) 34-14-50</span></li>
            <li>Звоните с 10.00 до 20.00</li>
        </ul>
    </div>
    <!-- .callout -->
    <div class="clearf"></div>
</div>
<!-- .header -->
<div class="container_shadow">
    <div class="container">
        <div class="featured">
            <ul class="cycle_slider">
                <li>
                    <img src="@Url.Content("~/Content/img/3.png")" title="Самые дешевые фартуки в Томск" alt="Slide" /></li>
                <li>
                    <img src="@Url.Content("~/Content/img/4.png")" title="Самые дешевые фартуки в Томск" alt="Slide" /></li>
                <li>
                    <img src="@Url.Content("~/Content/img/1.png")" title="Самые дешевые фартуки в Томск" alt="Slide" /></li>
                <li>
                    <img src="@Url.Content("~/Content/img/2.png")" title="Самые дешевые фартуки в Томск" alt="Slide" /></li>
                <li>
                    <img src="@Url.Content("~/Content/img/5.png")" title="Самые дешевые фартуки в Томск" alt="Slide" /></li>
            </ul>
            <!-- .cycle_slider -->
            <ul class="cycle_nav"></ul>
            <div class="promo">
                <h1>Самые <strong>дешевые</strong> стеклянные фартуки <strong>в Томске!</strong></h1>
                <p class="big">С бесплатной доставкой и монтажом*<br />за 5-6 рабочих дней, <strong>5550р/м<sup>2</sup></strong><br/>Найдете дешевле - сделаем еще дешевле!</p>
                <p>* бесплатный монтаж и доставка при площади фартука от 1.5м<sup>2</sup></p>
                <p>
                    <a id="orderForm" href="#popup" class="btn">Записаться на бесплатный замер</a> 
                    <a href="ftp://pngn.ru/catalog_f.pdf" style="margin-left: 10px;" class="btn yellow" target="_blank">Каталог</a>
                </p>
                <p><small>Выберите фартук в <a href="#"><strong>Каталоге</strong></a> и <a href="#"><strong>Сделайте заказ на замер</strong></a> и в ближайшее время мы с Вами свяжемся.
                       <br /></small></p>
            </div>
            <!-- .promo -->
        </div>
        <!-- .featured -->
        <div class="content">
            <div class="wrap our-steps">
                <div class="one_fourth">
                    <img class="ico_left" src="@Url.Content("~/Content/img/cena.png")" title="Прозрачное ценообразование" alt="icon" />
                    <h3><strong>5550р/м<sup>2</sup></strong> на все фартуки</h3>
                    <p>Вы платите только за квадратные метры в которые всё включено и ни копейки больше с гарантией самой низкой цены в городе!</p>
                </div>
                <!-- .one_fourth -->
                <div class="one_fourth">
                    <img class="ico_left" src="@Url.Content("~/Content/img/zamer.png")" title="Установка в течение 1 часа" alt="icon" />
                    <h3>Бесплатный замер в тот же день</h3>
                    <p>Наши монтажники приедут к Вам на замер в любое удобное для Вас время.</p>
                </div>
                <!-- .one_fourth -->
                <div class="one_fourth">
                    <img class="ico_left" style="margin-left: 70px;" src="@Url.Content("~/Content/img/services-pic2.png")" title="Вы ждёте не больше недели" alt="icon" />
                    <h3><strong>5-6 дней</strong> на изготовление</h3>
                    <p>Наше производство даже в режиме полной загруженности выдаёт за 6 рабочих дней изделие.</p>
                </div>
                <!-- .one_fourth -->
                <div class="one_fourth last">
                    <img class="ico_left" src="@Url.Content("~/Content/img/montaj.png")" title="Первоклассный сервис" alt="icon" />
                    <h3>Бесплатная доставка и монтаж</h3>
                    <p>Нам важно чтобы Вам понравилось, т.к. мы продолжаем с Вами общение и предлагаем другие лучшие решения.</p>
                </div>
                <!-- .one_fourth last -->
                <div class="clearf"></div>
                <!-- clear float -->
            </div>
            <!-- .wrap -->
            <div class="wrap_grey">
                @*<div class="half">
                    <h4>Related Products</h4>
                    <ul class="products">
                        <li>
                            <a data-rel="prettyPhoto[gallery1]" href="@Url.Content("~/Content/img/full_1.jpg")" title="Product Title">
                                <img src="@Url.Content("~/Content/img/thumb_1.jpg")" alt="Product image" />
                            </a>
                        </li>
                        <li>
                            <a data-rel="prettyPhoto[gallery1]" href="@Url.Content("~/Content/img/full_2.jpg")" title="Product Title">
                                <img src="@Url.Content("~/Content/img/thumb_2.jpg")" alt="Product image" />
                            </a>
                        </li>
                        <li>
                            <a data-rel="prettyPhoto[gallery1]" href="@Url.Content("~/Content/img/full_3.jpg")" title="Product Title">
                                <img src="@Url.Content("~/Content/img/thumb_3.jpg")" alt="Product image" />
                            </a>
                        </li>
                        <li>
                            <a data-rel="prettyPhoto[gallery1]" href="@Url.Content("~/Content/img/full_4.jpg")" title="Product Title">
                                <img src="@Url.Content("~/Content/img/thumb_4.jpg")" alt="Product image" />
                            </a>
                        </li>
                        <li>
                            <a data-rel="prettyPhoto[gallery1]" href="@Url.Content("~/Content/img/full_5.jpg")" title="Product Title">
                                <img src="@Url.Content("~/Content/img/thumb_5.jpg")" alt="Product image" />
                            </a>
                        </li>
                        <li>
                            <a data-rel="prettyPhoto[gallery1]" href="@Url.Content("~/Content/img/full_6.jpg")" title="Product Title">
                                <img src="@Url.Content("~/Content/img/thumb_6.jpg")" alt="Product image" />
                            </a>
                        </li>
                        <li>
                            <a data-rel="prettyPhoto[gallery1]" href="@Url.Content("~/Content/img/full_7.jpg")" title="Product Title">
                                <img src="@Url.Content("~/Content/img/thumb_7.jpg")" alt="Product image" />
                            </a>
                        </li>
                        <li>
                            <a data-rel="prettyPhoto[gallery1]" href="@Url.Content("~/Content/img/full_8.jpg")" title="Product Title">
                                <img src="@Url.Content("~/Content/img/thumb_8.jpg")" alt="Product image" />
                            </a>
                        </li>
                    </ul>
                </div>*@
                <!-- .half -->
                <div class="half order-on-page">
                    <h4><strong>Как сделать заказ?</strong></h4>
                    <h3><strong>1.</strong> Выберите фартук <a href="ftp://pngn.ru/catalog_f.pdf" target="_blank">в каталоге</a></h3>
                    <h3><strong>2.</strong> Заполните форму справа</h3>
                    <h3><strong>3.</strong> Или свяжитесь с нами по номеру <strong>(3822) 34-14-50</strong></h3>
                    <br/>
                    <span>Причины по которым фартуки заказывают у нас:</span>
                    <ul class="checklist">
                        <li>Бесплатный замер</li>
                        <li>Бесплатный монтаж</li>
                        <li>Бесплатная доставка по городу</li>
                        <li><a href="ftp://pngn.ru/catalog_f.pdf" target="_blank">Большой каталог</a> готовых решений</li>
                        <li>Возможность вставить свой рисунок</li>
                        <li>Смотрится значительно лучше пластика или плитки</li>
                        <li>Адекватность</li>
                    </ul>
                    <!-- .checklist -->
                </div>
                <!-- .one_fourth -->
                <div class="half last order-on-page">
                    <div id="popup" class="order-popup">
                        <h4>Запишитесь на <strong>бесплатный</strong> замер!</h4>
                        <p style="margin-bottom: 5px;">Заполните поля и нажмите кнопку "Записаться на замер"</p>
                        @using (Html.BeginForm("OrderFinish", "Home", FormMethod.Post, new {@class = "subscribe"}))
                        {
                            <div>
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Как к Вам обращаться" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Номер телефона" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.FartukNumber, new { @placeholder = "Номер фартука из каталога (не обязательно)" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Street, new { @placeholder = "Улица (не обязательно)" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Home, new { @placeholder = "Дом (не обязательно)" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Flat, new { @placeholder = "Квартира (не обязательно)" })
                            </div>
                            <input name="submit" type="submit" onclick="return false;" class="submit" value="Записаться на замер" />
                        }
                    </div>
                </div>
                <!-- .one_fourth last -->
                <div class="clearf"></div>
                <!-- clear float -->
            </div>
            <!-- .wrap_grey -->
            <div class="wrap_secondary">
                <a href="ftp://pngn.ru/catalog_f.pdf" target="_blank">
                    <div class="samples">
                        <div class="left-column-samples">
                            <div class="sample-item item-1"></div>
                            <div class="sample-item item-2"></div>
                            <div class="sample-item item-5"></div>
                            <div class="sample-item item-3"></div>
                            <div class="sample-item item-4"></div>
                            <div class="sample-item item-6"></div>
                        </div>
                        <div class="right-column-samples">
                            <div class="sample-item-view item-view-1"></div>
                            <div class="sample-item-view item-view-2"></div>
                            <div class="sample-item-view item-view-3"></div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- .wrap_secondary -->
        </div>
        <!-- .content -->
        <div class="secondary_cta">
            <div class="three_fourth">
                <h2 class="sc_heading">Просмотреть все фартуки Вы можете у нас в каталоге</h2>
            </div>
            <!-- .three_fourth -->
            <div class="one_fourth last">
                <a href="ftp://pngn.ru/catalog_f.pdf" target="_blank" class="btn yellow">Каталог фартуков</a>
            </div>
            <!-- .one_fourth last -->
            <div class="clearf"></div>
            <!-- clear float -->
        </div>
        <!-- .secodnary_cta -->
    </div>
    <!-- .container -->
</div>
<!-- .container_shadow -->
<div class="footer">
    <div class="footer_left">
        &copy; @DateTime.Now.Year <a href="#">Sentado</a>.
           
    </div>
    <!-- .footer_left -->
    <div class="footer_right">
        Designed and developed by <a href="#">Richard S. Popov</a>.
           
    </div>
    <!-- .footer_right -->
</div>
<!-- .footer -->
<div class="top_btn"><a href="#" title="Scroll to top"></a></div>
<!-- top_btn -->

<a href="#popupWasSent" id="wasSent"></a>
<div style="display:none">
    <div id="popupWasSent" class="order-popup">
        <p style="margin-top: 18px;">Спасибо! Ваша заявка принята. Мы с Вами свяжемся в рабочее время.</p>
    </div>
</div>

<script type="text/javascript">
    $('#orderForm').fancybox({
        centerOnScroll: true
    });
    
    $('#wasSent').fancybox({
        centerOnScroll: true
    });

    $('.submit').click(function() {
        jVal.errors = false;
        jVal.name();
        jVal.phone();
        jVal.sendIt();
        return false;
    });
    
    var jVal = {
        'name': function () {
            var ele = $('#Name');
            var pos = ele.position();
            ele.parent().append('<div id="nameInfo" class="info"></div>');
            var nameInfo = $('#nameInfo');

            nameInfo.css({
                top: pos.top - 1,
                left: pos.left + ele.width() + 15
            });
            if ($.trim(ele.val()).length < 3) {
                jVal.errors = true;
                nameInfo.addClass('error').html('Напишите как к Вам обращаться').show();
                nameInfo.prev().addClass('error-input');
                ele.removeClass('normal').addClass('wrong');
            } else if (ele.val().length > 255) {
                jVal.errors = true;
                nameInfo.addClass('error').html('Превышен максимальный размер 255 символов').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                nameInfo.prev().addClass('error-input');
            } else {
                nameInfo.removeClass('error');
                ele.removeClass('wrong').addClass('normal');
                nameInfo.prev().removeClass('error-input');
            }
        },
        'phone': function () {
            var ele = $('#Phone');
            var pos = ele.position();
            ele.parent().append('<div id="phoneInfo" class="info"></div>');
            var phoneInfo = $('#phoneInfo');

            phoneInfo.css({
                top: pos.top + 4,
                left: pos.left + ele.width() + 25
            });

            var patt = /^([\+]{1})?[0-9\-]*$/i;

            if (ele.val().length != 0 && (ele.val().length > 15 || ele.val().length < 5 || !patt.test(ele.val()))) {
                jVal.errors = true;
                phoneInfo.addClass('error').html('Введите корректный номер телефона').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                phoneInfo.prev().addClass('error-input');
            } else if (ele.val().length == 0) {
                jVal.errors = true;
                phoneInfo.addClass('error').html('Введите номер телефона').show();
                ele.removeClass('normal').addClass('wrong').css({ 'font-weight': 'normal' });
                phoneInfo.prev().addClass('error-input');
            } else {
                phoneInfo.removeClass('error');
                ele.removeClass('wrong').addClass('normal');
                phoneInfo.prev().removeClass('error-input');
            }
        },
        'sendIt': function () {
            if (!jVal.errors) {
                $.ajax({
                    url: '@Url.Action("OrderFinish", "Home")',
                    type: 'POST',
                    data: {
                        Name: $('#Name').val(),
                        Phone: $('#Phone').val(),
                        Street: $('#Street').val(),
                        Home: $('#Home').val(),
                        Flat: $('#Flat').val()
                    },
                    success: function (data) {
                        $.fancybox.close();
                        setTimeout(function() {
                            $('#wasSent').click();
                        }, 1000);
                    }
                });

                $.fancybox.showActivity();
            }
        }
    };
</script>